@model ReservationRestaurantAdmin.Models.Table

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <h1>Details</h1>
    <h4 class="card-title">Table Info</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td class="text-dark font-weight-semibold">@Model.Id</td>
                </tr>
                <tr>
                    <td>Table ID</td>
                    <td class="text-dark font-weight-semibold">@Model.Name</td>
                </tr>
                <tr>
                    <td>Table Name</td>
                    <td class="text-dark font-weight-semibold">@Model.Capacity</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div>
        <a class="btn btn-primary m-r-5" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-success  m-r-5" asp-action="Index">Back to List</a>
    </div>
</div>
